* {
  margin: 0;
  padding: 0;
}
.container-contact {
  margin: 5vh 0;
}
#contact-h2 {
  font-size: 2.7rem;
  text-align: center;
  color: red;
}
@media only screen and (max-width: 1050px) {
  .container-contact {
    margin: 22vh 0;
  }
}
