* {
  margin: 0;
  padding: 0;
}
.container-about {
  margin: 5vh 0;
}
#about-h2,
.skills {
  font-size: 2.7rem;
  text-align: center;
  color: red;
}
#about-info {
  margin: 2vh 0;
  font-size: 1.5rem;
  text-align: center;
}
.skillimages {
  margin: 3vh 0;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 25px;
}
.allimages {
  display: flex;
  justify-content: space-evenly;
}
.skillimg {
  max-width: 270px;
  height: auto;
  border-radius: 50%;
  text-align: center;
}
@media only screen and (max-width: 1050px) {
  .container-about {
    margin: 22vh 0;
  }
}
@media only screen and (max-width: 870px) {
  .skillimages {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 600px) {
  .skillimages {
    grid-template-columns: auto;
  }
}
